.sliderWrapper {
    padding-top: 0;
  }
  
  .sliderContainer {
    height: 800px;
    /* Đảm bảo hình nền responsive */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 1200px) {
    .sliderContainer {
      height: 600px; /* Điều chỉnh chiều cao cho màn hình nhỏ hơn */
    }
  }
  
  @media (max-width: 768px) {
    .sliderContainer {
      height: 400px; /* Điều chỉnh cho màn hình máy tính bảng */
    }
  }
  
  @media (max-width: 480px) {
    .sliderContainer {
      height: 300px; /* Điều chỉnh cho màn hình điện thoại */
    }
  }
  